.card {
  display: flex;
  flex-direction: column;
  padding: 22px 0;
  gap: 20px;
  border: 2px solid var(--border);
  box-shadow: 0 4px 20px var(--border);
  border-radius: 10px;

  :global {
    animation: show 1s forwards;
  }
}

.card-content {
  margin: 0 38px;
}
