.row {
  container: productRow / inline-size;
  display: block;
  background: #fbfbfb;
  padding: 11px 58px 10px;

  &--odd-element {
    background: transparent;
  }

  &__text {
    overflow-wrap: anywhere;
  }

  &__elements {
    max-width: 583px;
    display: grid;
    grid-template-columns: 260fr 202fr 101px;
    gap: 10px;

    @container productRow (width < 350px) {
      grid-template-columns: 1fr;
    }
  }

  &__actions {
    text-align: right;

    @container productRow (width < 350px) {
      text-align: left;
    }
  }
}
