@import "https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600&display=swap";
@import "normalize.css/normalize.css";
@import "./theme";

body {
  font-family: "Work Sans", serif;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
  color: var(--text);
}

a {
  color: var(--link-color);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
