:root {
  --background-default: #fff;
  --background-secondary: #fbfbfb;
  --border: #ecedee;
  --text: #273348;
  --btn-background: #2dd08c;
  --btn-background-hover: #27c482;
  --btn-background-active: #22b97a;
  --btn-background-disabled: #b9b9b9;
  --link-remove: #f54436;
  --link-remove-hover: #d7362a;
  --link-remove-active: #c0281b;
}
