.remove-link {
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--link-remove);
  user-select: none;
  &:hover {
    color: var(--link-remove-hover);
  }
  &:active {
    color: var(--link-remove-active);
  }
}
