.row {
  container: productrow / inline-size;
  display: block;
  background: var(--background-secondary);
  padding: 11px 58px 10px;

  &:nth-child(2n) {
    background: transparent;
  }
}

.text {
  overflow-wrap: anywhere;
}

.elements {
  max-width: 582px;
  display: grid;
  grid-template-columns: 260fr 202fr 101px;
  gap: 10px;

  @container productrow (width < 350px) {
    grid-template-columns: 1fr;
  }
}

.actions {
  text-align: right;

  @container productrow (width < 350px) {
    text-align: left;
  }
}
